a {
  color: #ccc;
  text-decoration: none;
  border-bottom: 1px dotted #ccc;
}

body {
  padding: 1em;
}

a:hover {
  color: yellow;
  border-bottom: 0;
}

input {
  display: block;
}

.owners {
  font-size: large;
  line-height: 2em;
}

header {
  border-bottom: 1px solid white;
}

main {
  padding: 1em;
}

footer {
  width: 100%;
  border-top: 1px solid white;
  position: fixed;
  bottom: 0;
}